

.mobile_container{
    width: 67%;
}


.toast_container{
    right: 50px;
    bottom: 25px;
}


.quantity_container{
    width: 59px;
    height: 50px;
    border: 1px solid black;
}


@media only screen and (max-width:990px){
    
    .product_page_item_text{
        font-size: 14px;
    }

    .select_product_size{
        width: 265px !important;
    }

    .mobile_container{
        width: 100%;
    }
   
    .toast_container{
        height: 110px;
        
        right: 20px;
        top: 0;
    }
}