.Value_image{

    width: 627px;
    height: 418px;
}

.Value_desc_container{

    width: 627px;


}


.Value_desc_title{
    font-size: 18px;
}





@media only screen and (max-width:990px){

    .Value_image{

        width: 345px;
        height: 381px;
    }
    .Value_desc_container{

        width: 345px;
    
    }    
  
  }

