.mobile_shiping_method_container{

    border: 1px solid black;
    
}


.circle_mobile_method{
    width: 18px;
    height: 18px;
    border: 1px solid #BDBDBD;
}

.circle_mobile_method2{
    width: 8px;
    height: 8px;
}